body{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.85em;
  line-height: 1.7em;
  color: #000;
  background: #E6E6E6;
  margin: 0;
  padding: 0;
  border: 0;
}
a img{
  border:0;
}
#container{
  width:980px;
  margin: 0 auto;
  padding: 50px 0;
}
#header h1{
  font-size:140%;
  display:inline;
}
#header h1 a{
  color:#043136;
}
div.nav{
  display:inline;
}
#header h1 img{
  vertical-align:middle;
}
code{
  display:block;
  margin:10px 0;
}
table{
  width:100%;
}
table td{
  padding:8px;
  border:1px solid #ccc;
}
#content{
  text-align:justify;
}

.jnotifica_extra_class{
  font-weight: bold;
}
.jnotifica_extra_class .jnotifica_bg{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}