body{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.85em;
  line-height: 1.7em;
  color: #000;
  background: #E6E6E6;
  margin: 0;
  padding: 0;
  border: 0;
}
a img{
  border:0;
}
#container{
  width:980px;
  margin: 0 auto;
  padding: 50px 0;
}
#header h1{
  font-size:140%;
  display:inline;
}
#header h1 a{
  color:#043136;
}
#header h1 a img{
  margin-right: 20px;
}
div.nav{
  display:inline;
}
img{
  vertical-align:middle;
}
code, pre{
  display:block;
  margin:10px 0;
  font-size: 130%;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f0f0f0;
}
table{
  width:100%;
  text-align: left;
}
table td{
  padding:8px;
  border:1px solid #ccc;
  background: #f0f0f0;
}
#content{
  text-align:justify;
}
.rounded_corners{
  font-weight: bold;
}
.rounded_corners .jnotifica_bg{
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}