* html #jnotifica{
	bottom:auto;
	top:expression(eval(document.documentElement.scrollTop));
}
body{
	padding:0;
	margin:0;
	font-family:'segoe ui';
}
dd{
	margin-bottom:30px;
}
dt{
	font-style:italic;
}
table{
	width:100%;
}
table td{
	border:1px #ccc solid;
}
table tr td:first-child{
	width:15%;
	text-align:right;
}
table tr td td:first-child{
	border-width:0px 1px 1px 0px;
}
table tr td td{
	border-width:0px 0px 1px 0px;
}
table tr td td:first-child{
	width:30%;
}
a{
	color:blue;
}
#container{
	width:900px;
	padding:50px 0;
	margin:0 auto;
}